canvas {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 0;
    margin: 0;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

